.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.accountTypePassive {
  color: grey;
  border: 1px solid transparent;
  border-radius: 20px;
}

.accountTypeActive {
  color: green;
  border: 1px solid green;
  border-radius: 20px;
}

.form-rounded, .btn-rounded {
  border-radius: 19px;
}

.App-link {
  color: #09d3ac;
}
